.DS_Store
.idea
*.pyc
settings_local.py
*.db
*.log

# Bower
static/bower_components/*

# Sass stuff
static/scss/.sass-cache/*
dev/*/.sass-cache/*
typings/*

# Gulp
node_modules/*
# developer specific settings
config.json
