Django==1.11.28
MySQL-python==1.2.5
boto==2.49.0
beautifulsoup4==4.6.3
certifi==2018.4.16
chardet==3.0.4
django-widget-tweaks==1.4.2
gunicorn==19.9.0
idna==2.7
pyasn1==0.4.3
pyasn1-modules==0.2.2
python-ldap==3.1.0
pytz==2018.5
requests==2.19.1
urllib3==1.23
wsgiref==0.1.2
