//
// Overrides for select2.js multiselect widgets
//

// scss-lint:disable SelectorFormat

.select2-container--default {
  &.select2-container--focus .select2-selection--multiple {
    border: $border-width solid $dropdown-border-color;
  }

  &.select2-container--open .select2-selection {
    border-color: $brand-complementary;
    box-shadow: $focus-inset-box-shadow;
  }

  &.select2-container--focus.select2-container--open .select2-selection--multiple {
    border: $border-width solid $brand-complementary;
  }

  .select2-selection {
    line-height: 2.25;
    padding: .5rem;
    transition: $input-transition;
  }

  .select2-selection--multiple {
    border: $border-width solid $input-border-color;
    border-radius: $input-border-radius;

    .select2-selection__choice {
      background-color: $gray-lighter;
      border-color: $input-border-color;
      border-radius: 0;
      font-size: .75rem;
      font-weight: bold;
      line-height: 1;
      padding: .125rem .5rem;
    }

    .select2-selection__choice__remove {
      font-size: 2rem;
      font-weight: 300;
      margin-right: .5rem;
      vertical-align: middle;
    }
  }

  .select2-dropdown {
    border-color: $dropdown-border-color;
    border-radius: $dropdown-border-radius;
  }

  .select2-results {
    font-size: $font-size-sm;
  }

  .select2-results__option {
    padding: .75rem;

    &.select2-results__option--highlighted {
      background-color: $component-active-bg;
      color: $component-active-color;

      // Nested selector req'd to properly override existing parent selector
      // scss-lint:disable NestingDepth
      .fa-square {
        color: $component-active-color;
      }
      // scss-lint:enable NestingDepth
    }

    &[aria-selected="true"]:not(.select2-results__option--highlighted) {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
    }

    .fa-square {
      color: $gray-light;
    }
  }
}

// scss-lint:enable SelectorFormat
