//
// Overrides for Pikaday datepicker widgets
//

$pd-text-color: #333;
$pd-title-color: #333;
$pd-title-bg: #fff;
$pd-picker-bg: #fff;
$pd-picker-border: #ccc;
$pd-picker-border-bottom: #bbb;
$pd-picker-shadow: rgba(0,0,0,.5);
$pd-th-color: #999;
$pd-day-color: #666;
$pd-day-bg: #f5f5f5;
$pd-day-hover-color: #fff;
$pd-day-hover-bg: #ff8000;
$pd-day-today-color: #33aaff;
$pd-day-selected-color: #fff;
$pd-day-selected-bg: #33aaff;
$pd-day-selected-shadow: #178fe5;
$pd-day-disabled-color: #999;
$pd-week-color: #999;
$pd-font-family: $font-family-base;
