{% extends 'base.html' %}
{% block breadcrumbs %}
	{{block.super}}
	<li><a href="{% url manager-emails %}">Emails</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-email-update email.pk %}">{{email.title}}</a> <span class="divider">/</span></li>
	<li class="active"><a href="{% url manager-email-unsubscriptions email.pk %}">Unsubscriptions</a></li>
{% endblock %}
{% block page-body %}
<h2>{{email.title}} Unsubscriptions</h2>

{% if is_paginated %}
<div>
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li>
			<a href="?page={{page_obj.previous_page_number}}" class="prev">Prev</a>
		</li>
		{% endif %}
		{% if page_obj.has_next %}
		<li>
			<a href="?page={{page_obj.next_page_number}}" class="next">Next</a>
		</li>
		{% endif %}
		<li class="disabled">
			<a href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
		</li>
	</ul>
</div>
{% endif %}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">Email Address</th>
		</tr>
	</thead>
	<tbody>
		{% for recipient in recipients %}
		<tr data-link-url="{% url manager-recipient-update recipient.pk %}">
			<td>{{recipient.email_address}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
