{% extends 'base.html' %}
{% block page-body %}
<h1 class="h2 heading-underline">Create Email</h1>
<form action="{% url 'manager-email-create' %}" method="post">
  <fieldset>
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endfor %}
    {% for field in form %}
      {% include 'form-control-group.html' %}
    {% endfor %}
    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-plus" aria-hidden="true"></span> Create
        </button>
        <a href="{% url 'manager-emails' %}" class="btn btn-default">
          <span class="fas fa-minus" aria-hidden="true"></span> Cancel
        </a>
      </div>
    </div>
  </fieldset>
</form>

<!-- Modal for uploading a new HTML/plaintext email file -->
<div class="modal fade" id="upload-email-modal" tabindex="-1" role="dialog" aria-labelledby="upload-email-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="upload-email-modal-label">Upload a File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="upload-email-file-input" class="sr-only">Select File</label>
          <input type="file" class="form-control-file" id="upload-email-file-input" aria-describedby="upload-email-file-help" accept="">
          <small id="upload-email-file-help" class="form-text text-muted">Select a file on your computer to use in this email.</small>
        </div>
        <div id="upload-email-error" class="d-none alert alert-danger" role="alert">Something went wrong when uploading this file.  Please try again later.</div>
      </div>
      <div class="modal-footer">
        <button disabled type="submit" class="btn btn-primary" id="upload-email-submit" data-upload-action="{% url 'manager-file-upload' %}" data-insert-field="">
          <span class="fas fa-spinner fa-pulse d-none" id="upload-email-loading-icon" aria-hidden="true"></span> Upload
        </button>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
