{% extends 'base.html' %}
{% block breadcrumbs %}
    {{block.super}}
    <li><a href="{% url manager-emails %}">Emails</a> <span class="divider">/</span></li>
    <li class="active">
        <a href="{% url manager-email-update form.instance.pk %}">{{form.instance.title}}</a>
    </li>
{% endblock %}
{% block page-body %}
<a href="{% url manager-email-unsubscriptions email.pk %}" class="btn btn-default pull-right">Unsubscriptions</a>
<div class="clearfix"></div>
<form class="form-horizontal" action="{% url manager-email-update email.pk %}" method="post">
    <fieldset>
        <legend>Placeholder Verification</legend>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% for attribute, recipients, count in attributes %}
            {% if recipients %}
                <h2>Recipients missing placeholder "{{ attribute }}"</h2>
                <label class="control-label">Count: {{ count }}</label>
                <ul>
                {% for recipient in recipients %}
                    <li>
                        <a href="{% url manager-recipient-update recipient.pk %}">
                            {{ recipient.email_address }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </fieldset>
</form>
{% endblock %}
