{% extends 'base.html' %}
{% block breadcrumbs %}
	{{block.super}}
	<li><a href="{% url manager-emails %}">Emails</a> <span class="divider">/</span></li>
	<li class="active">
		<a href="{% url manager-email-update form.instance.pk %}">{{form.instance.title}}</a>
	</li>
{% endblock %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-email-update email.pk %}" method="post">
	<fieldset>
		<legend>Update Email</legend>
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				{{error}}
			</div>
		{% endfor %}
		{% for field in form %}
			{% include 'form-control-group.html' %}
		{% endfor %}
		<a href="{% url manager-email-delete email.pk %}" class="btn btn-danger">Delete</a>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Update</button>
			<a href="{% url manager-home %}" class="btn">Cancel</a>
		</div>
	</fieldset>
</form>
{% endblock %}