{% extends 'base.html' %}
{% block page-body %}
<a href="{% url manager-email-unsubscriptions email.pk %}" class="btn btn-default float-right">Unsubscriptions</a>
<div class="clearfix"></div>
<form class="form-horizontal" action="{% url manager-email-update email.pk %}" method="post">
    <fieldset>
        <legend>Placeholder Verification</legend>
        <div class="well">
            <p>Below is a list of recipients that are missing attributes used in the "{{ object.title }}" email. Below each placeholder is a count of the recipients missing the corresponding attribute along with a short list (limited to 10 recipients) of the recipients.</p>
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% for attribute, recipients, count in attributes %}
            {% if recipients %}
                <h2>Recipients missing the placeholder "{{ attribute }}"</h2>
                <label class="control-label">Count: {{ count }}</label>
                <ul>
                {% for recipient in recipients %}
                    <li>
                        <a href="{% url manager-recipient-update recipient.pk %}">
                            {{ recipient.email_address }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info">
                    <p>No recipients are missing attributes in this email.</p>
                </div>
            {% endif %}
        {% empty %}
            <div class="alert alert-info">
                <p>No placeholders present in this email.</p>
            </div>
        {% endfor %}
    </fieldset>
</form>
{% endblock %}
