{% extends 'base.html' %}
{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url manager-emails %}">Emails</a> <span class="divider">/</span></li>
	<li class="active">
		<a href="{% url manager-email-design %}">Design</a>
	</li>
{% endblock %}

{% block page-body %}
<div class="row">
  <div class="col-md-5 col-sm-5">
    <h2>Email Designer</h2>
  </div>
  <div class="col-md-7 col-sm-7">
    <div class="form-inline pull-right">
      <div class="form-group">
        <select class="form-control" id="template-select">
          <option value="">Select a Template</option>
          {% for template in email_templates %}
            <option value="{{ email_templates_url }}{{ template }}">{{ template }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>

<noscript>
  <div class="alert alert-danger" role="alert">
    This page requires Javascript to be enabled in order to function properly.  Please enable Javascript on this page and reload.
  </div>
</noscript>

<p>
  Select a template from the dropdown above to start editing.<br>
  Current browser compatibility: Firefox, Chrome, Safari (latest versions).
</p>

<hr>

<!-- The template editor window -->
<div id="editor-window-outer">
  <iframe id="editor-window"></iframe>
</div>

<!-- Form that returns clean markup from the editor -->
<button class="btn btn-lg btn-primary" id="generate-markup" data-toggle="modal" data-target="#generate-markup-modal">
  <span class="glyphicon glyphicon-download"></span> Generate Markup
</button>

<!-- Modal for generating email markup -->
<div class="modal fade" id="generate-markup-modal" role="dialog" tabindex="-1" aria-labelledby="generate-markup-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="generate-markup-modal-label">Get Email Markup</h4>
      </div>
      <div class="modal-body">
        <p>Copy and paste the markup below into a new .html file, then upload the file somewhere that Postmaster can access it via url.</p>
        <p><strong>Make sure to test this markup in Litmus before sending a live email.</strong></p>
        <textarea class="html-textarea" id="generated-markup" autocomplete="off"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--
Contains css, script references necessary for the wysiwyg editor.
These are injected into the email template markup when loadEditor() is called.
-->
<textarea id="editor-template-scripts" class="hidden">
  <link class="pm-editor-script" rel="stylesheet" href="{{MEDIA_URL}}/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
  <link class="pm-editor-script" rel="stylesheet" href="{{MEDIA_URL}}/css/froala_editor.min.css" />
  <link class="pm-editor-script" rel="stylesheet" href="{{MEDIA_URL}}/css/froala_style.min.css" />
  <style class="pm-editor-script">
    /*
     * Unset Froala editor css applied within editable areas, which might
     * not emulate the final html email accuately enough
     */
    .pm-template-editable-paragraph p,
    .pm-template-editable-paragraph p.fr-tag {
      margin: initial !important;
    }
    .froala-wrapper,
    .froala-element {
      overflow: hidden !important;
    }
    .froala-element {
      line-height: inherit;
      min-height: 0;
    }
    .pm-template-editable-paragraph .froala-wrapper,
    .pm-template-editable-paragraph .froala-element {
      width: 100% !important;
    }
  </style>
  <script class="pm-editor-script" src="{{MEDIA_URL}}/js/jquery-1.11.2.min.js"></script>
  <script class="pm-editor-script" src="{{MEDIA_URL}}/js/froala.min.js"></script>
  <script class="pm-editor-script" src="{{MEDIA_URL}}/js/froala-font_size.min.js"></script>
  <script class="pm-editor-script">
    // Enables all editing functionality.
    function pmDesignerEnable() {
      $('.pm-template-editable-single').editable({
        allowedTags: ['a', 'b', 'em', 'i', 's', 'strong', 'span', 'u'],
        buttons: ['bold', 'italic', 'underline', 'createLink', 'html'],
        imageMove: false,
        inlineMode: true,
        paragraphy: false,
        plainPaste: true,
        useClasses: false
      });

      $('.pm-template-editable-paragraph').editable({
        allowedTags: ['a', 'b', 'blockquote', 'br', 'col', 'colgroup', 'dd', 'div', 'dl', 'dt', 'em', 'hr', 'i', 'img', 'li', 'ol', 'p', 's', 'span', 'strong', 'sub', 'sup', 'table', 'tbody', 'td', 'th', 'thead', 'tr', 'u', 'ul'],
        alwaysVisible: true,
        buttons: ['bold', 'italic', 'underline', 'fontSize', 'createLink', 'align', 'insertImage', 'html', 'customUnderline'],
        defaultImageAlignment: 'left',
        defaultImageWidth: 0,
        imageButtons: ['linkImage', 'replaceImage', 'removeImage'],
        imageMove: false,
        imageUpload: false,
        inlineMode: true,
        paragraphy: true,
        plainPaste: true,
        useClasses: false
      })
        .on('editable.imageInserted', function(e, editor, img) {
            img.addClass('responsiveimg');
        });

      $('.pm-template-editable-multiline').editable({
        allowedTags: ['a', 'b', 'blockquote', 'br', 'col', 'colgroup', 'dd', 'div', 'dl', 'dt', 'em', 'hr', 'i', 'img', 'li', 'ol', 's', 'span', 'strong', 'sub', 'sup', 'table', 'tbody', 'td', 'th', 'thead', 'tr', 'u', 'ul'],
        alwaysVisible: true,
        buttons: ['bold', 'italic', 'underline', 'createLink', 'align', 'insertImage', 'html'],
        defaultImageAlignment: 'left',
        defaultImageWidth: 0,
        inlineMode: true,
        imageButtons: ['linkImage', 'replaceImage', 'removeImage'],
        imageMove: false,
        imageUpload: false,
        paragraphy: false,
        plainPaste: true,
        useClasses: false
      }).on('editable.imageInserted', function(e, editor, img) {
        img.addClass('responsiveimg');
      });
    }


    // Destroys all editing functionality.
    function pmDesignerDestroy() {
      $('.pm-template-editable-container').each(function() {
        var markup = $(this).editable('getHTML', false, false);
        $(this)
          .html(markup)
          .editable('destroy');
      });
    }


    // Fixes .froala-box responsiveness on .pm-template-editable-paragraph.
    function pmDesignerResponsiveParagraphs() {
      $('.pm-template-editable-paragraph.froala-box').each(function() {
        var $elem = $(this);
        $elem.width('1px');
        var newWidth = $elem.parent().innerWidth();
        $elem.width(newWidth);
      });
    }


    // Returns padding css styling for paragraphs within
    // .pm-template-editable-paragraph
    function pmDesignerParagraphPadding() {
      var $p = $('.pm-template-editable-paragraph').first().find('p');

      // Shorthand 'padding' is not supported by jquery, so get each value
      // separately + combine
      var top = $p.css('padding-top') || '0';
      var right = $p.css('padding-right') || '0';
      var bottom = $p.css('padding-bottom') || '0';
      var left = $p.css('padding-left') || '0';

      return top + ' ' + right + ' ' + bottom + ' ' + left;
    }


    // Returns calculated unitless line-height value for paragraphs within
    // .pm-template-editable-paragraph
    function pmDesignerParagraphLineHeight() {
      var $p = $('.pm-template-editable-paragraph').first().find('p');
      var lineHeightUnitless = 1.35; // default

      // jquery's .css() will (almost always) return values in
      // px format, despite what the actual set value is.  Assume we will
      // always get either unitless values (incorrectly, from an old
      // browser) or px values.
      var lineHeight = $p.css('line-height');
      var fontSize = $p.css('font-size');

      if (parseInt(lineHeight, 10) !== 0 && !lineHeight.match(/[a-z]/i)) {
        // unitless value returned (probably ie9 not calculating a unitless value to px)
        lineHeightUnitless = lineHeight;
      }
      else {
        lineHeightUnit = lineHeight.substring(lineHeight.length - 2, lineHeight.length);
        fontSizeUnit = fontSize.substring(fontSize.length - 2, fontSize.length);

        if (lineHeightUnit == 'px' && fontSizeUnit == 'px' && lineHeight !== '0px' && fontSize !== '0px') {
          lineHeightUnitless = parseInt(lineHeight, 10) / parseInt(fontSize, 10);
        }
        // give up and use fallback otherwise; we don't want to divide by 0
      }

      // Always return value rounded to 2 decimal places
      return lineHeightUnitless.toFixed(2);
    }


    // Returns font family for paragraphs within
    // .pm-template-editable-paragraph
    function pmDesignerParagraphFontFamily() {
      return $('.pm-template-editable-paragraph').first().find('p').css('font-family') || 'serif;';
    }


    function pmDesignerInit() {
      $.Editable.DEFAULTS.key = '{{ froala_license }}';
      $(window).on('load', pmDesignerEnable);
      $(window).on('load resize', pmDesignerResponsiveParagraphs);
    }


    pmDesignerInit();

  </script>
</textarea>

{% endblock %}


{% block scripts %}
<script>
  // Loads a template via ajax (stored in static media dir).
  function loadTemplate(templateSrc) {
    var template = '';

    if (templateSrc === '') {
      loadEditor(template);
      return;
    }

    $.ajax({
      cache: false,
      dataType: 'html',
      method: 'GET',
      url: templateSrc
    }).done(function(data) {
      template = data;
      loadEditor(template);
    });
    return;
  }


  // Loads the editor window (appends template markup and editor scripts to the
  // iframe source.)
  function loadEditor(template) {
    var templateScripts = $('#editor-template-scripts').val();

    // Plain-jane string replacement to append editor scripts to the template
    if (template !== '') {
      template = template.replace('<div id="pm-editor-scripts"></div>', '<div id="pm-editor-scripts">' + templateScripts + '</div>');
    }

    // Add the combined template html + editor markup to the editor iframe
    var doc = document.getElementById('editor-window').contentWindow.document;
    doc.open();
    doc.write(''); // clear existing contents
    doc.write(template);
    doc.close();

    if (template === '') {
      // Disable markup generator if editor window is empty
      $('#generate-markup').attr('disabled', 'disabled');
    }
    else {
      $('#generate-markup').removeAttr('disabled');
    }
  }


  // Returns a string containing cleaned markup suitable for sending in an email.
  // Assumes markupString does NOT contain a doctype declaration.
  function getCleanedMarkupString(markupString, pPadding, pLineHeight, pFontFamily) {
    var parser = new DOMParser();
    var domDoc = parser.parseFromString(markupString, 'text/html');
    var $domDoc = $(domDoc);

    // Find the editor scripts we injected previously and remove them.
    // Make sure any potential leftover scripts/markup from Froala are removed
    // too.  (This requires #pm-editor-scripts to be the last element in the
    // template before the closing body tag.)
    $domDoc
      .find('#pm-editor-scripts')
        .nextAll()
        .addBack()
          .remove();

    // Find editable field that corresponds to the email's title; fill in <title> value
    var title = $domDoc.find('#pm-template-doctitle').text() || '';
    $domDoc.find('title').text(title);

    // Add inline line-height:inherit declaration to span's inside
    // .pm-template-editable-paragraph.
    // Replace all .pm-template-editable-paragraph p tags with tables
    // (<p> tags are too inconsistent across email clients.)
    $domDoc
      .find('.pm-template-editable-paragraph p span')
        .css('line-height', 'inherit')
        .end()
      .find('.pm-template-editable-paragraph p')
        .wrap('<table class="paragraphtable" style="width: 100%;"><tr><td class="paragraphtd" style="width: 100%; font-family: '+ pFontFamily +'; padding: '+ pPadding +'; margin: 0; line-height: '+ pLineHeight +';"></td></tr></table>')
        .contents()
        .unwrap();

    // Unwrap/remove remaining .pm-template-editable-container's
    // (.pm-template-editable-paragraph's are removed above)
    $domDoc.find('.pm-template-editable-container').contents().unwrap();
    $domDoc.find('.pm-template-editable-container:empty').remove();

    // Replace domDoc with the jquery object's reference of the element
    domDoc = $domDoc[0];

    // We can't access the iframe's doctype when we grab its contents, so re-add it here:
    var docType = '<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">';
    var docMarkupClean = docType + domDoc.documentElement.outerHTML;

    return docMarkupClean;
  }


  // Generate markup from iframe contents and paste it into #generated-markup
  function generateMarkup() {
    var $markupContainer = $('#generated-markup');
    var editorWindow = document.getElementById('editor-window').contentWindow;

    // Stop here if the editor window doesn't exist (should never reach this
    // point, but just in case)
    if (!editorWindow) {
      return;
    }

    // Empty the markup container
    $markupContainer.text('');

    // Destroy all active Froala editors in the iframe to remove Froala markup
    editorWindow.pmDesignerDestroy();

    // Fetch necessary css styles from the editor window for generating
    // email-friendly markup and inline styles
    var pPadding = editorWindow.pmDesignerParagraphPadding();
    var pLineHeight = editorWindow.pmDesignerParagraphLineHeight();
    var pFontFamily = editorWindow.pmDesignerParagraphFontFamily();

    // Grab the editor's markup as a string and clean it
    var docMarkup = editorWindow.document.documentElement.outerHTML;
    var docMarkupClean = getCleanedMarkupString(docMarkup, pPadding, pLineHeight, pFontFamily);

    // Add the cleaned markup to $markupContainer
    $markupContainer.text(docMarkupClean);

    // Reload the editors
    editorWindow.pmDesignerEnable();
  }


  function init() {
    var $templateSelect = $('#template-select');
    var currentTemplate = '';
    var currentTemplateVal = '';

    // Load the current template (if the browser has cached a selection)
    $(window).on('load', function() {
      currentTemplate = $templateSelect.find('option:selected').text();
      currentTemplateVal = $templateSelect.val();
      loadTemplate(currentTemplateVal, true);
    });

    // Change the template when an option from the dropdown is selected.
    // Prompt the user if they're okay with losing any changes before
    // switching from a non-empty template.
    $templateSelect.on('change', function() {
      var newTemplateVal = $(this).val();

      if (currentTemplateVal !== '') {
        if (window.confirm('Are you sure you want to switch templates? You will lose all changes made in the editor.')) {
          currentTemplateVal = newTemplateVal;
          currentTemplate = $(this).find('option:selected').text();
          loadTemplate(newTemplateVal, true);
        }
        else {
          $(this).val(currentTemplateVal);
        }
      }
      else {
        currentTemplateVal = newTemplateVal;
        currentTemplate = $(this).find('option:selected').text();
        loadTemplate(newTemplateVal, true);
      }
    });

    // Generate email markup from editor when Generate Markup btn is clicked
    $('#generate-markup').on('click', generateMarkup);
  }


  init();

</script>
{% endblock %}
