{% extends 'base.html' %}
{% block page-body %}
<h1 class="h2 heading-underline">Create Email</h1>
<form action="{% url 'manager-email-create' %}" method="post">
  <fieldset>
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endfor %}
    {% for field in form %}
      {% include 'form-control-group.html' %}
    {% endfor %}
    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-plus" aria-hidden="true"></span> Create
        </button>
        <a href="{% url 'manager-emails' %}" class="btn btn-default">
          <span class="fas fa-minus" aria-hidden="true"></span> Cancel
        </a>
      </div>
    </div>
  </fieldset>
</form>

<div class="modal fade" id="viewUploadModal" tabindex="-1" role="dialog" aria-labelledby="View Upload Files to S3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select an Email Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group templates"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript-footer %}
  {{ block.super }}
  <script>
    function getAWSCreds() {
      return {
        accessKey: "{{ aws_access_key_id }}",
        secretKey: "{{ aws_secret_access_key }}",
        bucket: "{{ bucket }}"
      };
    }
  </script>
  <script src="/static/js/aws-sdk-2.277.1.min.js"></script>
{% endblock %}
