{% extends 'base.html' %}
{% block page-body %}
<ul class="nav nav-pills pull-right" style="margin-bottom:0;">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			Actions <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url manager-email-create %}">Create New Email</a></li>
		</ul>
	</li>
</ul>
<h2>Emails</h2>
{% if is_paginated %}
<div class="pagination">
	<ul>
		{% if page_obj.has_previous %}
		<li>
			<a href="?page={{page_obj.previous_page_number}}" class="prev">Prev</a>
		</li>
		{% endif %}
		{% if page_obj.has_next %}
		<li>
			<a href="?page={{page_obj.next_page_number}}" class="next">Next</a>
		</li>
		{% endif %}
		<li class="active">
			<a href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
		</li>
	</ul>
</div>
{% endif %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for email in emails %}
		<tr data-link-url="{% url manager-email-update email.pk %}">
			<td>{{email.title}}</td>
			<td><a href="{% url manager-email-instances email.pk %}">Instances</a></td>
			<td><a href="{% url manager-email-unsubscriptions email.pk %}">Unsubscriptions</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}