{% extends 'base.html' %}
{% block breadcrumbs %}
	{{block.super}}
	<li><a href="{% url manager-emails %}">Emails</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-email-update instance.email.pk %}">{{instance.email.title}}</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-email-instances instance.email.pk %}">Instances</a> <span class="divider">/</span></li>
	<li class="active"><a href="{% url manager-email-instance instance.pk %}">{{instance.start}}</a></li>
{% endblock %}
{% block page-body %}
	<h2>{{instance.email.title}} Instance<br /><small>Started on {{instance.start}}{% if not instance.in_progress %} Ended on {{instance.end}}{% endif %}</small></h2>
	{% if instance.in_progress %}
	<div class="alert alert-info">This instance is still in progress.</div>
	{% endif %}
	<p>This instance was scheduled to go to <big><strong>{{instance.recipient_details.count}}</strong></big> recipients. <big><strong>{{instance.sent_count}}</strong></big> were actually sent.</p>
	<section>
		<h3>Opens</h3>
		{% if instance.opens_tracked %}
		<p>Of the <big><strong>{{instance.recipient_details.count}}</strong></big> recipients, <big><strong>{{instance.opens.count}}</strong></big> opened the email. An open rate of <big><strong>{{instance.open_rate}}%</strong></big>.</p>
		{% else %}
		<p>Opens were not tracked for this instance.
		{% endif %}
	</section>
	<section>
		<h3>URLs</h3>
		{% if not instance.urls_tracked %}
		<p>URls were not tracked for this instance.</p>
		{% else %}
		<p>URLs are tracked top to bottom, left to right. If there is more than one of the same URL in an email, each additional URL will have an increasing position number.</p>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">URL</th>
					<th scope="col">Position</th>
					<th scope="col">Clicks</th>
				</tr>
			</thead>
			<tbody>
				{% for url in instance.urls.all %}
				<tr>
					<td>{{url.name}}</td>
					<td>{{url.position}}</td>
					<td>{{url.clicks.count}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</section>
{% endblock %}
