{% extends 'base.html' %}
{% block page-body %}
<h1 class="h2 heading-underline">Update Email</h1>
<div class="float-right mb-5">
  <a href="{% url 'manager-email-instant-send' %}?email_id={{object.pk}}" class="btn btn-outline-success btn-sm">
    <span class="fas fa-plus"></span> Create Instant Send</a>
  <a href="{% url 'manager-email-placeholder-verification' email.pk %}" class="btn btn-outline-primary btn-sm">
    <span class="fas fa-check"></span> Placeholder Verification</a>
  <a href="{% url 'manager-email-unsubscriptions' email.pk %}" class="btn btn-outline-danger btn-sm">
    <span class="fas fa-thumbs-down"></span> Unsubscriptions</a>
</div>
<div class="clearfix"></div>
<form class="form-horizontal" action="{% url 'manager-email-update' email.pk %}" method="post">
  <fieldset>
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{error}}
      </div>
    {% endfor %}
    {% for field in form %}
      {% include 'form-control-group.html' %}
    {% endfor %}
    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-pencil-alt" aria-hidden="true"></span> Update
        </button>
        <a href="{% url 'manager-emails' %}" class="btn btn-default">
          <span class="fas fa-minus" aria-hidden="true"></span> Cancel
        </a>
        <a href="{% url 'manager-email-delete' email.pk %}" class="btn btn-danger float-right">
          <span class="fas fa-trash" aria-hidden="true"></span> Delete
        </a>
      </div>
    </div>
  </fieldset>
</form>

<!-- Modal for uploading a new HTML/plaintext email file -->
<div class="modal fade" id="upload-email-modal" tabindex="-1" role="dialog" aria-labelledby="upload-email-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="upload-email-modal-label">Upload a File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="upload-email-file-input" class="sr-only">Select File</label>
          <input type="file" class="form-control-file" id="upload-email-file-input" aria-describedby="upload-email-file-help" accept="">
          <small id="upload-email-file-help" class="form-text text-muted">Select a file on your computer to use in this email.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button disabled type="submit" class="btn btn-primary" id="upload-email-submit" data-upload-action="{% url 'manager-file-upload' %}"
          data-insert-field="">Upload</button>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
