{% extends 'base.html' %}
{% block page-body %}
<h1 class="h2 heading-underline">{{email.title}} Instances</h1>

{% if is_paginated %}
  <nav aria-label="Email instances list pagination">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">
          <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
        </a>
      </li>
      {% endif %}
      <li class="disabled page-item">
        <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
          Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">In Progress</th>
        <th scope="col">Recipient</th>
        <th scope="col">Open Tracked</th>
        <th scope="col">URLs Tracked</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in instances %}
      <tr data-link-url="{% url 'manager-email-instance' instance.pk %}">
        {% if instance.subject %}
          <td>{{instance.subject}}</td>
        {% else %}
          <td><span class="text-default">Not available</span></td>
        {% endif %}
        <td>{{instance.start}}</td>
        <td>{{instance.end}}</td>
        <td>{{instance.in_progress}}</td>
        <td>{{instance.recipients.count}}</td>
        <td>{{instance.opens_tracked}}</td>
        <td>{{instance.urls_tracked}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if is_paginated %}
  <nav aria-label="Email instances list pagination">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">
          <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
        </a>
      </li>
      {% endif %}
      <li class="disabled page-item">
        <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
          Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock %}
