{% extends 'base.html' %}

{% block breadcrumbs %}
	{{block.super}}
	<li><a href="{% url manager-emails %}">Emails</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-email-update email.pk %}">{{email.title}}</a> <span class="divider">/</span></li>
	<li class="active"><a href="{% url manager-email-instances email.pk %}">Instances</a></li>
{% endblock %}

{% block page-body %}
  <h2>{{email.title}} Instances</h2>

  {% if is_paginated %}
  <div>
  	<ul class="pagination">
  		{% if page_obj.has_previous %}
  		<li>
  			<a href="?page={{page_obj.previous_page_number}}" class="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
  		</li>
  		{% endif %}
  		{% if page_obj.has_next %}
  		<li>
  			<a href="?page={{page_obj.next_page_number}}" class="next">
          Next<span class="glyphicon glyphicon-chevron-right"></span></a>
  		</li>
  		{% endif %}
  		<li class="disabled">
  			<a href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
  		</li>
  	</ul>
  </div>
  {% endif %}

  <table class="table table-striped table-hover">
  	<thead>
  		<tr>
  			<th scope="col">Start</th>
  			<th scope="col">End</th>
  			<th scope="col">In Progress</th>
  			<th scope="col">Recipient</th>
  			<th scope="col">Open Tracked</th>
  			<th scope="col">URLs Tracked</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for instance in instances %}
  		<tr data-link-url="{% url manager-email-instance instance.pk %}">
  			<td>{{instance.start}}</td>
  			<td>{{instance.end}}</td>
  			<td>{{instance.in_progress}}</td>
  			<td>{{instance.recipients.count}}</td>
  			<td>{{instance.opens_tracked}}</td>
  			<td>{{instance.urls_tracked}}</td>
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>

  {% if is_paginated %}
  <div>
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{page_obj.previous_page_number}}" class="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{page_obj.next_page_number}}" class="next">
          Next<span class="glyphicon glyphicon-chevron-right"></span></a>
      </li>
      {% endif %}
      <li class="disabled">
        <a href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
    </ul>
  </div>
  {% endif %}

{% endblock %}
