{% extends 'base.html' %}
{% block page-body %}
    <p class="lead">Welcome to the Postmaster Emailer.</p>
  <p>
    The purpose of this system is to gather content from external sources and then email that content to a set of recipients.
  </p>
  <p>
    This page contains a general overview of how the system is built and operates. You can always get back to this page by clicking the Postmaster Emailer logo located in the top left corner of every page.
  </p>
  <div class="well">
    <p>
      <strong>
        If you have any questions or problems, please contact the Web Communications Team:
      </strong>
    </p>
    <ul>
      <li>Regular Business Hours (8:30am - 5pm): {{ office_hours_contact_info|safe }}</li>
      <li>After Hours or Emergency: {{ after_hours_contact_info|safe }}</li>
    </ul>
  </div>

  {% if instances %}
  <hr />
  <p class="lead">Emails currently sending:</p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Email Name</th>
        <th scope="col">Started</th>
        <th scope="col">In Progress for</th>
        <th scope="col">Recipients</th>
        <th scope="col">Emails Sent</th>
        <th scope="col">Action <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Cancelling an instance will prevent future emails for that instance from being sent."></span></th>
      </tr>
    </thead>
    <tbody>
      {% for instance in instances %}
      <tr data-link-url="{% url manager-email-instance instance.pk %}">
        <td>{{instance.email.title}}</td>
        <td>{{instance.start}}</td>
        <td>{{instance.run_time}}</td>
        <td>{{instance.recipients.count}}</td>
        <td>{{instance.sent_count}}</td>
        <td>
        <a class="btn btn-danger cancel-instance-btn open-instance-page" href="{% url manager-email-instance instance.pk %}#check_on_load">Cancel This Instance</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

    <hr />
    <p class="lead">Today's email overview:</p>
    {% if emails %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Email Name</th>
                <th scope="col">Req. Send Time</th>
                <th scope="col">~ Preview Time</th>
                <th scope="col">Preview Sent</th>
                <th scope="col">Locked <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="The lock indicates whether the live email will get fresh content from the uri or use the existing content from the preview email. True: use preview email content. False: get fresh content from uri."></span></th>
                <th scope="col">Action</th>
                <th scope="col">~ Live Time</th>
                <th scope="col">Live Sent</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
            <tr data-link-url="{% url manager-email-update email.pk %}">
                <td>{{email.title}}</td>
                <td>{{ email.send_time }}</td>
                <td>
                    {% if not email.preview %}
                        NO Preview
                    {% else %}
                        {{email.preview_est_time|date:'g:i a'}}
                    {% endif %}
                </td>
                <td>
                    {% if not email.preview %}
                        NO Preview
                    {% elif email.preview_exists %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                  {% if email.todays_preview %}
                    {{ email.todays_preview.lock_content }}
                  {% else %}
                    NA
                  {% endif %}
                </td>
                <td>
                  {% if email.todays_preview and not email.todays_preview.past and not email.instance_exists %}{% if email.todays_preview.lock_content %}<a href="#" class="btn btn-xs btn-warning" data-toggle="modal" data-form-url="{% url manager-email-lock-content email.todays_preview.pk %}" data-target="#lockContentModal" data-lock="false" data-content="Unlock">Unlock</a>{% else %}<a href="#" class="btn btn-xs btn-warning" data-toggle="modal" data-form-url="{% url manager-email-lock-content email.todays_preview.pk %}" data-target="#lockContentModal" data-lock="true" data-content="Lock">Lock</a>{% endif %}{% else %}NA{% endif %}
                </td>
                <td>{{email.live_est_time|date:'g:i a'}}</td>
                <td>
                    {% if email.instance_exists %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><strong>No emails are scheduled to send today.</strong></p>
    {% endif %}
  <hr />
  <p>
    The Postmaster Emailer has two parts: <strong>recipients</strong> and <strong>emails</strong>.
  </p>

  <h3>Recipients</h3>
  <p>
    The details of a person or entity. Recipients only have a single field: email address (column name: email_address). However when implementing data import scripts, developers may choose to add any number of additional attributes to recipients. Contact the Web Communications Team for more details on this functionality.
  </p>
  <p>
    It is frequently necessary to include details of a recipient such as name or email address in the content of an email. In the Postmaster Emailer system, this can be accomplished by adding recipient attribute placeholders to the email content. These placeholders will then be replaced with the specific recipient's attribute value when the email is sent. The attribute placeholders take the form of <strong>&lt;delimiter&gt;attribute name&lt;delimiter&gt;</strong>. The default delimited is !@! but this can be modified on a per email basis. Also, you must know the column name of the attribute you wish to use. As mentioned above, the column name for the email address attribute is email_address. Consult the developer of your import script for the column names of other attributes.
  </p>
  <p>
    Recipients are aggregated into named groups called <strong>recipient groups</strong>. When creating an email, these groups are how you will define which recipients will receive your email. Important notes about recipient groups:
  </p>
  <ul>
    <li>A recipient can be part of more than one recipient group.</li>
    <li>A recipient can only be present in a recipient group once.</li>
    <li>
      If an email is assigned to go to multiple recipient groups and a recipient is in more than one of those recipients groups, the recipient will only receive the email <em>once</em>.
    </li>
  </ul>
  <h3>Emails</h3>
  <p>
    This details what, when, and how an email will be sent to a set of recipients.
  </p>
  <p>
    The Postmaster Email system has a preview function which allows for a review of the content of an email before it is sent out to the specified recipient groups. If the preview functionality is activated when an email is created, a preview email will be sent out to the specified list of preview recipients <strong>1 hour</strong> before the real email is sent to the recipient groups.
  </p>
  <p>
    The Postmaster Email system is capable of tracking when a recipient opens an email and when a recipient clicks on a link in an email.
  </p>
  <p>
    When an email is sent, the details of that particular send (known as an <strong>instance</strong>) are recorded.
  </p>

  {% comment %}
    Manual for is being used here because it is so small. If this changes to be
    anything bigger/larger it is advised to change the ListView to contain a
    form.
  {% endcomment %}
  <div class="modal fade" id="lockContentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <form action="" method="post">
          <div class="modal-body">
              <p>Are you sure you want to <u><strong class="lock-content"></strong></u> the content?</p>
              <input class="hide" id="id_lock_content" type="checkbox" checked="checked" name="lock_content">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" value="Sumbit">Save</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block javascript-footer %}
  {{ block.super }}
  <script src="{{MEDIA_URL}}js/lockcontent.js"></script>
{% endblock %}
