{% extends 'base.html' %}
{% block page-body %}
	<p class="lead">Welcome to the Postmast Emailer.</p>
	<p>
		The purpose of this system is gather content
		from external sources and then email that content
		to a set of recipients.
	</p>
	<p>
		This page contains a general overview of how the system is built and 
		operates. You can always get back to this page by clicking the Postmaster 
		Emailer logo located in the top left corner of every page.
	</p>
	<div class="well">
		<p>
			<strong>
				If you have any questions or problems, 
				please contact the Web Communications Team:
			</strong>
		</p>
		<ul>
			<li>Regular Business Hours (8:30am - 5pm): <a href="mailto:webcom@ucf.edu">webcom@ucf.edu</a> or 407-823-0973</li>
			<li>After Hours or Emergency: 407-925-8102 (Patrick Burt) or 954-258-8274 (Christopher Conover)</li>
		</ul>
	</div>
	<hr />
	<p>
		The Postmaster Emailer has two parts: <strong>recipients</strong> and <strong>emails</strong>.
	</p>

	<h3>Recipients</h3>
	<p>
		The details of a person or entity. 
		Recipients have the following fields:
	</p>
	<ul>
		<li>First Name</li>
		<li>Last Name</li>
		<li>Email Address</li>
		<li>Preferred Name</li>
	</ul>
	<p>
		Recipients are aggregated into named groups called <strong>recipient groups</strong>.
		When creating an email, these groups are how you will define which recipients will
		recieve your email. Important notes about recipient groups:
	</p>
	<ul>
		<li>A recipient can be part of more than one recipient group.</li>
		<li>A recipient can only be present in a recipient group once.</li>
		<li>
			If an email is assigned to go to multiple recipient groups and
			a recipient is in more than one of those recipients groups, the 
			recipient will only receive the email <em>once</em>.
		</li>
	</ul>
	<h3>Emails</h3>
	<p>
		This details what, when, and how an email will be sent to a set of 
		recipients.
	</p>
	<p>
		The Postmaster Email system has a preview function which allows for a review of
		the content of an email before it is sent out to the specified recipient
		groups. If the preview functionality is activated when an email is created,
		a preview email will be sent out to the specified list of preview recipients 
		<strong>1 hour</strong> before the real email is sent to the recipient groups.
	</p>
	<p>
		The Postmaster Email system is capabale of tracking when a recipient opens an email
		and when a recipient clicks on a link in an email.
	</p>
	<p>
		When an email is sent, the details of that particular send (known as an <strong>instance</strong>)
		are recored.
	</p>
{% endblock %}