{% extends 'base.html' %}
{% block page-body %}
	<p><big>Are you sure you want to delete the {{attribute.name}} for {{attribute.recipient.email_address}}?</big></p>
	<form action="{% url 'manager-recipientattribute-delete' attribute.pk %}" method="post">
		<button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
    </button>
		<a href="{% url 'manager-recipients' %}" class="btn btn-default">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Cancel</a>
	</form>
{% endblock %}
