{% extends 'base.html' %}
{% block page-body %}
<h1 class="h2 heading-underline">Recipient Attributes for {{recipient.email_address}}</h1>

<a href="{% url 'manager-recipientattribute-create' recipient.pk %}" class="btn btn-default float-right mb-4">
  <span class="fas fa-plus" aria-hidden="true"></span> Create New Attribute
</a>

{% if is_paginated %}
  <nav aria-label="Recipient attributes list pagination">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">
          <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
        </a>
      </li>
      {% endif %}
      <li class="disabled page-item">
        <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
          Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th scope="col">Name</th>
  			<th scope="col">Value</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for attribute in attributes %}
  		<tr>
  			<td>
          <a href="{% url 'manager-recipientattribute-update' attribute.pk %}">
            {{attribute.name}}
          </a>
        </td>
  			<td>{{attribute.value}}</td>
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>

{% if is_paginated %}
  <nav aria-label="Recipient attributes list pagination">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">
          <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
        </a>
      </li>
      {% endif %}
      <li class="disabled page-item">
        <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
          Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}
