{% extends 'base.html' %}
{% block page-body %}
<ul class="nav nav-pills pull-right" style="margin-bottom:0;">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			Actions <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url manager-recipientgroup-create %}">Create New Recipient Group</a></li>
			<li><a href="{% url manager-recipient-create %}">Create New Recipient</a></li>
		</ul>
	</li>
</ul>
<h2>Recipient Groups</h2>
{% if is_paginated %}
<div class="pagination pull-right">
	<ul>
		{% if page_obj.has_previous %}
		<li>
			<a href="?page={{page_obj.previous_page_number}}" class="prev">Prev</a>
		</li>
		{% endif %}
		{% if page_obj.has_next %}
		<li>
			<a href="?page={{page_obj.next_page_number}}" class="next">Next</a>
		</li>
		{% endif %}
		<li class="active">
			<a href="#">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
		</li>
	</ul>
</div>
{% endif %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Number of Recipients</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
		<tr data-link-url="{% url manager-recipientgroup-update group.pk %}">
			<td>{{group.name}}</td>
			<td>{{group.recipients.count}}</td>
			<td><a href="{% url manager-recipientgroup-recipients group.pk %}">Recipients</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}