{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page-body %}
  <h1 class="h2 heading-underline">Update Recipient</h1>
  <form class="form-horizontal" action="{% url 'manager-recipient-update' recipient.pk %}" method="post">
    <fieldset>
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            {{error}}
          </div>
        {% endfor %}
        {% for field in form %}
          {% include 'form-control-group.html' %}
        {% endfor %}

        <div class="row">
          <div class="offset-md-3 col-md-9">
            <h2 class="font-weight-normal h4 mt-5 mb-4">Recipient Attributes</h2>
            <div class="row">
              <div class="attr-field-label">
                <p>Name</p>
              </div>
              <div class="attr-field-label">
                <p>Value</p>
              </div>
            </div>
          </div>
        </div>

      {{ recipient_attributes_formset.management_form }}

      <div class="form-group row attribute-container">
        {% for attr_form in recipient_attributes_formset %}
          <div class="offset-md-3 col-md-9 attribute">
            {{ attr_form.id }}
            <div class="form-group row">
              <label class="form-control-label sr-only">Name</label>
              <div class="attr-field">
                {{ attr_form.name|add_class:"form-control" }}
              </div>
              <label class="form-control-label sr-only">Value</label>
              <div class="attr-field">
                {{ attr_form.value|add_class:"form-control" }}
              </div>
              <button class="btn btn-inverse text-danger delete-attr-btn attr-field-btn">
                <span class="fas fa-times" aria-hidden="true" data-color="danger"></span>
                {{ attr_form.DELETE|add_class:"d-none" }}
              </button>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="add-attr-container">
        <div class="form-group row mb-0">
          <div class="offset-md-3 col-md-9 add-container">
            <button class="btn btn-success add-attr-btn">
              <span class="fas fa-plus" aria-hidden="true" data-color="success"></span> Add another attribute
            </button>
            <hr class="my-4">
          </div>
        </div>
      </div>

        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
              <span class="fas fa-pencil-alt" aria-hidden="true"></span> Update
            </button>
            <a href="{% url 'manager-recipients' %}" class="btn btn-default">
              <span class="fas fa-minus" aria-hidden="true"></span> Cancel</a>
          </div>
        </div>
    </fieldset>
  </form>
{% endblock %}
