{% extends 'base.html' %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipientgroup-update recipientgroup.pk %}" method="post">
	<fieldset>
		<legend>Update Recipient Group</legend>
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				{{error}}
			</div>
		{% endfor %}
		{% for field in form %}
			{% include 'form-control-group.html' %}
		{% endfor %}
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="{% url manager-home %}" class="btn">Cancel</a>
		</div>
	</fieldset>
</form>
{% endblock %}