{% extends 'base.html' %}
{% block breadcrumbs %}
	{{block.super}}
	{% if search_valid %}
	<li><a href="{% url manager-recipients %}">Recipients</a> <span class="divider">/</span></li>
	<li class="active"><a href="{% url manager-recipients %}?email_address={{search_form.email_address.value}}"> Search Results for <em>{{search_form.email_address.value}}</em></a></li>
	{% else %}
	<li class="active"><a href="{% url manager-recipients %}">Recipients</a></li>
	{% endif %}
{% endblock %}
{% block page-body %}
<ul class="nav nav-pills pull-right" style="margin-bottom:0;">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			Actions <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="{% url manager-recipient-create %}">Create New Recipient</a></li>
		</ul>
	</li>
</ul>
<h2>{% if search_valid %}Recipient Search Results for <em>{{search_form.email_address.value}}</em>{% else %}Recipients{% endif %}</h2>
<div class="pagination">
	{% if is_paginated %}
	<ul>
		{% if page_obj.has_previous %}
		<li>
			<a href="?page={{page_obj.previous_page_number}}" class="prev">Prev</a>
		</li>
		{% endif %}
		{% if page_obj.has_next %}
		<li>
			<a href="?page={{page_obj.next_page_number}}" class="next">Next</a>
		</li>
		{% endif %}
		<li class="active">
			<a href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
		</li>
	</ul>
	{% endif %}
	<form class="form-search pull-right" style="vertical-align:middle;margin-bottom:0;margin-top:4px;" action="{% url manager-recipients %}" method="get">
		{{search_form.email_address}} <button type="submit" class="btn">Search</button>
	</form>
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Email Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for recipient in recipients %}
		<tr data-link-url="{% url manager-recipient-update recipient.pk %}">
			<td>{{recipient.email_address}}</td>
			<td>
				<a href="{% url manager-recipient-recipientattributes recipient.pk %}">Attributes</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}