{% extends 'base.html' %}
{% block page-body %}
<h1 class="h2 heading-underline">Update Recipient Group</h1>
<form class="form-horizontal" action="{% url 'manager-recipientgroup-update' recipientgroup.pk %}" method="post">
    <fieldset>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% for field in form %}
            {% include 'form-control-group.html' %}
        {% endfor %}
        <div class="form-group row">
            <label class="control-label col-sm-3 text-right" for="tb_recipient_search">Add Recipient</label>
            <div class="col-sm-9">
                <input type="email" id="tb_recipient_search" name="recipient-email" class="form-control" />
                <p class="help-block">Enter email address and press enter.</p>
            </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
              <span class="fas fa-pencil-alt" aria-hidden="true"></span> Update
            </button>
            <a href="{% url 'manager-recipientgroups' %}" class="btn btn-default">
              <span class="fas fa-minus" aria-hidden="true"></span> Cancel
            </a>
            <a href="{% url 'manager-recipientgroup-delete' pk=recipientgroup.id %}" class="float-right btn btn-danger">
              <span class="fas fa-trash" aria-hidden="true"></span> Delete
            </a>
            <a href="{% url 'manager-recipientgroup-export' pk=recipientgroup.id %}" class="float-right btn btn-default mr-1">
              <span class="fa fa-list-alt" aria-hidden="true"></span> Export
            </a>
          </div>
        </div>
    </fieldset>
</form>

<h2 class="h4 mt-5 mb-2">Recipients of {{recipientgroup.name}}:</h2>
<form>
    <fieldset>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Email Address</th>
                </tr>
            </thead>
            <tbody>
                {% if recipients %}
                    {% for recipient in recipients %}
                    <tr data-link-url="{% url 'manager-recipient-update' recipient.pk %}" {% if recipient.disable %} class="inactive" {% endif %}>
                        <td>{{recipient.email_address}}
                            {% if recipient.disable %}
                            <span class="fa float-right fa-eye-slash">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </fieldset>
</form>
<nav class="float-right" aria-label="Recipients of {{recipientgroup.name}} pagination">
  <ul class="pagination pagination-sm">
    {% if recipients.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{recipients.previous_page_number}}">
          <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
        </a>
    </li>
    {% endif %}
    <li class="disabled page-item">
      <a class="page-link" href="#">Page {{recipients.number}} of {{recipients.paginator.num_pages}}</a>
    </li>
    {% if recipients.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{recipients.next_page_number}}" class="next">
          Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
