{% extends 'base.html' %}
{% block breadcrumbs %}
    {{block.super}}
    <li><a href="{% url manager-recipients %}">Recipients</a> <span class="divider">/</span></li>
    <li><a href="{% url manager-recipient-update recipient.pk %}">{{recipient.email_address}}</a> <span class="divider">/</span></li>
    <li class="active"><a href="{% url manager-recipient-inactivate recipient.pk %}">Inactivate</a></li>
{% endblock %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipient-inactivate recipient.pk %}" method="post">
    <fieldset>
        <legend>Delete Recipient</legend>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}

        <p><strong>Are you sure you want to inactivate the recipient "{{ recipient.email_address }}"?</strong></p>
        <p>The recipient will no longer be able to receive emails, until they are reactivated.</p>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-eye-close"></span> Inactivate</button>
        <a href="{% url manager-recipients %}" class="btn btn-default">
            <span class="glyphicon glyphicon-minus"></span> Cancel
        </a>
</form>
{% endblock %}
