{% extends 'base.html' %}
{% block breadcrumbs %}
    {{block.super}}
    <li><a href="{% url manager-recipientgroups %}">Recipient Groups</a> <span class="divider">/</span></li>
    <li><a href="{% url manager-recipientgroup-update recipientgroup.pk %}">{{recipientgroup.name}}</a> <span class="divider">/</span></li>
    <li class="active"><a href="{% url manager-recipientgroup-delete recipientgroup.pk %}">Delete</a></li>
{% endblock %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipientgroup-delete recipientgroup.pk %}" method="post">
    <fieldset>
        <legend>Delete Recipient Group</legend>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% if emails %}
            <div class="alert alert-danger">
                <p>{{ recipientgroup.name }} is assigned to the following recurring emails:</p>
                <ul>
                {% for email in emails %}
                    <li>{{ email.title }}</li>
                {% endfor %}
                </ul>
                <p>If you delete this group, the recipients in the group will no longer receive the above emails.
            </div>
        {% endif %}
        <h3>Are you sure you want to delete the recipient group "{{ recipientgroup.name }}"?</h3>
        <button type="submit" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove"></span> Delete</button>
        <a href="{% url manager-recipientgroups %}" class="btn btn-default">
            <span class="glyphicon glyphicon-minus"></span> Cancel
        </a>
</form>
{% endblock %}
{% block javascript-footer %}
    {{ block.super }}
    <script src="{{MEDIA_URL}}/js/recipientgroup-update.js" type="text/javascript"></script>
{% endblock %}
