{% extends 'base.html' %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipientgroup-update recipientgroup.pk %}" method="post">
    <fieldset>
        <legend>Update Recipient Group</legend>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% for field in form %}
            {% include 'form-control-group.html' %}
        {% endfor %}
        <div class="form-group row">
            <label class="control-label col-sm-3 text-right" for="tb_recipient_search">Add Recipient</label>
            <div class="col-sm-9">
                <input type="email" id="tb_recipient_search" name="recipient-email" class="form-control" />
                <p class="help-block">Enter email address and press enter.</p>
            </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
              <span class="fas fa-pencil-alt" aria-hidden="true"></span> Update</button>
            <a href="{% url manager-recipientgroup-delete pk=recipientgroup.id %}" class="btn btn-danger">
              <span class="fas fa-trash" aria-hidden="true"></span> Delete</a>
            <a href="{% url manager-recipientgroups %}" class="btn btn-default">
              <span class="fas fa-minus" aria-hidden="true"></span> Cancel</a>
          </div>
        </div>
    </fieldset>
</form>
<nav>
    <ul class="pagination pagination-sm">
        {% if recipients.has_previous %}
        <li>
            <a href="?page={{recipients.previous_page_number}}" class="prev">
          <span class="fas fa-chevron-left"></span>Prev</a>
        </li>
        {% endif %}
        <li class="disabled">
            <a href="#">Page {{recipients.number}} of {{recipients.paginator.num_pages}}</a>
        </li>
        {% if recipients.has_next %}
        <li>
            <a href="?page={{recipients.next_page_number}}" class="next">Next<span class="fas fa-chevron-right"></span></a>
        </li>
        {% endif %}
    </ul>
</nav>
<form>
    <fieldset>
        <legend>Recipients</legend>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Email Address</th>
                </tr>
            </thead>
            <tbody>
                {% if recipients %}
                    {% for recipient in recipients %}
                    <tr data-link-url="{% url manager-recipient-update recipient.pk %}" {% if recipient.disable %} class="inactive" {% endif %}>
                        <td>{{recipient.email_address}}
                            {% if recipient.disable %}
                            <span class="fa float-right fa-eye-slash">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </fieldset>
</form>
{% endblock %}
