{% extends 'base.html' %}
{% block breadcrumbs %}
	{{block.super}}
	<li><a href="{% url manager-recipients %}">Recipients</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-recipient-update attribute.recipient.pk %}">{{attribute.recipient.email_address}}</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-recipient-recipientattributes attribute.recipient.pk %}">Attributes</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-recipientattribute-update attribute.pk %}">{{attribute.name}}</a> <span class="divider">/</span></li>
	<li class="active"><a href="{% url manager-recipientattribute-update attribute.pk %}">Update</a></li>
{% endblock %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipientattribute-update attribute.pk %}" method="post">
	<fieldset>
		<legend>Update Recipient Attribute for {{attribute.recipient.email_address}}</legend>
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				{{error}}
			</div>
		{% endfor %}
		{% for field in form %}
			{% include 'form-control-group.html' %}
		{% endfor %}
		<a href="{% url manager-recipientattribute-delete attribute.pk %}" class="btn btn-danger pull-left">Delete</a>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Update</button>
			<a href="{% url manager-home %}" class="btn">Cancel</a>
		</div>
	</fieldset>
</form>
{% endblock %}