{% extends 'base.html' %}

{% block breadcrumbs %}
	{{block.super}}
	<li><a href="{% url manager-recipientgroups %}">Recipient Groups</a> <span class="divider">/</span></li>
	<li><a href="{% url manager-recipientgroup-update recipientgroup.pk %}">{{recipientgroup.name}}</a> <span class="divider">/</span></li>
	<li class="active"><a href="{% url manager-recipientgroup-recipients recipientgroup.pk %}">Recipients</a></li>
{% endblock %}

{% block page-body %}

  <h2>{{recipient_group.name}} Recipients</h2>

  {% if is_paginated %}
  <div>
  	<ul class="pagination">
  		{% if page_obj.has_previous %}
  		<li>
  			<a href="?page={{page_obj.previous_page_number}}" class="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
  		</li>
  		{% endif %}
  		{% if page_obj.has_next %}
  		<li>
  			<a href="?page={{page_obj.next_page_number}}" class="next">
          Next<span class="glyphicon glyphicon-chevron-right"></span></a>
  		</li>
  		{% endif %}
  		<li class="disabled">
  			<a href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
  		</li>
  	</ul>
  </div>
  {% endif %}

  <table class="table table-striped table-hover">
  	<thead>
  		<tr>
  			<th scope="col">Email Address</th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for recipient in recipients %}
  		<tr data-link-url="{% url manager-recipient-update recipient.pk %}">
  			<td>{{recipient.email_address}}</td>
  			<td>
  				<a href="{% url manager-recipient-recipientattributes recipient.pk %}">Attributes</a>
  			</td>
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>

  {% if is_paginated %}
  <div>
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{page_obj.previous_page_number}}" class="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{page_obj.next_page_number}}" class="next">
          Next<span class="glyphicon glyphicon-chevron-right"></span></a>
      </li>
      {% endif %}
      <li class="disabled">
        <a href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
    </ul>
  </div>
  {% endif %}

{% endblock %}
