{% extends 'base.html' %}
{% block page-body %}
<h1 class="heading-underline h2">Confirm</h1>
<p class="lead">Are you sure you want to delete the recipient group {{ recipientgroup.name }}?</p>
<form class="form-horizontal" action="{% url 'manager-recipientgroup-delete' recipientgroup.pk %}" method="post">
    <fieldset>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% if recurring_emails or upcoming_emails %}
            <div class="alert alert-warning">
                {% if recurring_emails %}
                    <p>{{ recipientgroup.name }} is assigned to the following recurring emails:</p>
                    <ul>
                    {% for email in recurring_emails %}
                        <li>{{ email.title }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if upcoming_emails %}
                    <p>{{ recipientgroup.name }} is assigned to the following upcoming emails:</p>
                    <ul>
                    {% for email in upcoming_emails %}
                        <li>{{ email.title }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <p class="mb-0">If you delete this group, the recipients in the group will no longer receive the above emails.</p>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-danger"><span class="fas fa-trash"></span> Delete</button>
        <a href="{% url 'manager-recipientgroups' %}" class="btn btn-default">
            <span class="fas fa-minus"></span> Cancel
        </a>
</form>
{% endblock %}
