{% extends 'base.html' %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipientattribute-update attribute.pk %}" method="post">
    <fieldset>
        <legend>Update <em>{{attribute.name}}</em> Attribute for {{attribute.recipient.email_address}}</legend>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% for field in form %}
            {% include 'form-control-group.html' %}
        {% endfor %}

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
              <span class="fas fa-pencil-alt" aria-hidden="true"></span> Update
            </button>
            <a href="{% url manager-recipients %}" class="btn btn-default">
              <span class="fas fa-minus" aria-hidden="true"></span> Cancel</a>
            <a href="{% url manager-recipientattribute-delete attribute.pk %}" class="btn btn-danger">
              <span class="fas fa-trash" aria-hidden="true"></span> Delete</a>
          </div>
        </div>
    </fieldset>
</form>
{% endblock %}
