{% extends 'base.html' %}
{% block breadcrumbs %}
    {{block.super}}
    <li><a href="{% url manager-recipients %}">Recipients</a> <span class="divider">/</span></li>
    <li><a href="{% url manager-recipient-update recipient.pk %}">{{recipient.email_address}}</a> <span class="divider">/</span></li>
    <li><a href="{% url manager-recipient-recipientattributes recipient.pk %}">Attributes</a> <span class="divider">/</span></li>
    <li class="active"><a href="{% url manager-recipientattribute-create recipient.pk %}">Create</a></li>
{% endblock %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipientattribute-create recipient.pk %}" method="post">
    <fieldset>
        <legend>Create Recipient Attribute</legend>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% for field in form %}
            {% include 'form-control-group.html' %}
        {% endfor %}
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url manager-home %}" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>
{% endblock %}