{% extends 'base.html' %}
{% block page-body %}

<a href="{% url manager-recipientattribute-create recipient.pk %}" class="btn btn-success float-right">
  <span class="fas fa-plus" aria-hidden="true"></span> Create New Attribute</a>
<h2>Recipient Attributes for {{recipient.email_address}}</h2>

{% if is_paginated %}
  <nav aria-label="Recipient attributes list pagination">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">
          <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
        </a>
      </li>
      {% endif %}
      <li class="disabled page-item">
        <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
          Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th scope="col">Name</th>
  			<th scope="col">Value</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for attribute in attributes %}
  		<tr data-link-url="{% url manager-recipientattribute-update attribute.pk %}">
  			<td>{{attribute.name}}</td>
  			<td>{{attribute.value}}</td>
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>

{% if is_paginated %}
  <nav aria-label="Recipient attributes list pagination">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">
          <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
        </a>
      </li>
      {% endif %}
      <li class="disabled page-item">
        <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
          Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}
