{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page-body %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="d-inline-block heading-underline h2 my-1">
        {% if preview %}Preview{% else %}Live Send{% endif %}
        Recipient Groups
      </h1>
      <a href="{% url 'manager-recipientgroup-create' %}" class="float-right btn btn-default"><span class="fas fa-plus" aria-hidden="true"></span> Add New</a>
    </div>
    <div class="col-sm-12 mt-5">
      {% if search_query %}
        <p class="small d-inline-block">
          Showing {{ page_obj.paginator.count }} search result{% if page_obj.paginator.count > 1 %}s{% endif %} for <span class="text-complementary font-weight-bold">&ldquo;{{ search_query }}&rdquo;</span>
        </p>
      {% endif %}
      <form class="form-inline float-right" action="{% if preview %}{% url 'manager-recipientgroups-previewgroups' %}{% else %}{% url 'manager-recipientgroups' %}{% endif %}" method="get">
        <div class="form-group">
          <div class="input-group">
            {{search_form.search_query|add_class:"form-control form-control-sm search-query"|attr:"required"|attr:"placeholder:Search for..."|attr:"aria-label:Search for..."}}
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" type="submit"><span class="fas fa-search" aria-hidden="true"></span><span class="sr-only">Search</span></button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link{% if status == 'Active' %} active{% endif %}" href="?status=Active&sort=name&order={{order_change}}&search_query={{search_query}}">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if status == 'Archived' %} active{% endif %}" href="?status=Archived&sort=name&order={{order_change}}&search_query={{search_query}}">Archived</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if status == 'All' %} active{% endif %}" href="?status=All&sort=name&order={{order_change}}&search_query={{search_query}}">View All</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-sm-6">
      {% if is_paginated %}
        <nav aria-label="Recipient groups list pagination">
          <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
              </a>
            </li>
            {% endif %}
            <li class="disabled page-item">
              <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
                Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>

  <table class="table table-hover">
  	<thead>
  		<tr>
        <th scope="col" style="min-width: 150px;"><a href="?status={{status}}&sort=name&order={{order_change}}&search_query={{search_query}}">Name</a></th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
  			<th scope="col" style="min-width: 135px;"><a href="?status={{status}}&sort=updated_at&order={{order_change}}&search_query={{search_query}}">Modified Date</a></th>
  			<th scope="col" class="text-center">No. of Recipients</th>
  		</tr>
  	</thead>
    <tbody>
      {% for group in groups %}
      <tr data-link-url="{% url 'manager-recipientgroup-update' group.pk %}">
        <td>{{group.name}}</td>
        <td>{% if group.description %}{{group.description|truncatewords:20}}{% else %}n/a{% endif %}</td>
        <td>{% if group.archived %}Archived{% else %}Active{% endif %}</td>
        <td>{{group.updated_at}}</td>
        <td class="text-center">{{group.recipients.count}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    <nav aria-label="Recipient groups list pagination">
      <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}">
            <span class="fas fa-chevron-left" aria-hidden="true"></span> Previous
          </a>
        </li>
        {% endif %}
        <li class="disabled page-item">
          <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}" class="next">
            Next <span class="fas fa-chevron-right" aria-hidden="true"></span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
