{% extends 'base.html' %}
{% load filters %}
{% block header %}
<div class="container mt-5">
  <h1 class="h2">Manage Subscriptions for <span class="text-primary">{{recipient.email_address}}</span></h1>
{% endblock %}
{% block page-body %}
  <form action="{% url 'manager-recipient-subscriptions' pk=recipient.pk %}?mac={{ recipient.hmac_hash }}" method="post">
    <div class="row mb-4">
    {% with unsubscriptions=recipient.subscription_category.all %} {% for category in subscription_categories %}
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-block">
            <h2 class="h4 card-title">{{category.name}}</h2>
            <p class="card-text">{{category.description}}</p>
          </div>
          <div class="card-footer">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="subscription_categories" name="subscription_categories" value="{{category.pk}}" {% if category not in unsubscriptions %}checked="checked" {% endif %} {% displaycategory recipient.email_address category %} /> Subscribe</label>
          </div>
        </div>
      </div>
    {% endfor %} {% endwith %}
    </div>
    <button type="submit" class="btn btn-primary">Update Subscriptions</button>
  </form>
  <p class="text-center mt-5">Send us your <a href="https://www.ucf.edu/brand/contact-us/">comments &amp; feedback</a>.</p>
</div>
{% endblock %}
