{% extends 'base.html' %}
{% block breadcrumbs %}
	{{block.super}}
	<li><a href="{% url manager-recipients %}">Recipients</a> <span class="divider">/</span></li>
	<li class="active"><a href="{% url manager-recipients-csv-import %}"></a>CSV Import</li>
{% endblock %}
{% block page-body %}
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>Import Recipients via CSV File</legend>
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				{{error}}
			</div>
		{% endfor %}
		{% for field in form %}
			{% include 'form-control-group.html' %}
		{% endfor %}
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Import</button>
			<a href="{% url manager-home %}" class="btn">Cancel</a>
		</div>
	</fieldset>
</form>
{% endblock %}