{% extends 'base.html' %}
{% block page-body %}
<form class="form-horizontal" action="{% url manager-recipientgroup-create %}" method="post">
    <fieldset>
        <legend>Create Recipient Group</legend>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
        {% for field in form %}
            {% include 'form-control-group.html' %}
        {% endfor %}

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</button>
            <a href="{% url manager-recipientgroups %}" class="btn btn-default">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Cancel</a>
          </div>
        </div>
    </fieldset>
</form>
{% endblock %}
