{% extends 'base.html' %}
{% block page-body %}
<h1 class="heading-underline">Create Segment</h1>
<form class="form-horizontal" action="{% url 'manager-segments-create' %}" method="post">
  <fieldset>
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{error}}
      </div>
    {% endfor %}
    {% for field in form %}
      {% include 'form-control-group.html' %}
    {% endfor %}
    <!-- Start Include Rules -->
    <div class="card mb-2">
      <div class="card-header">
        <h2 class="card-title h6 mb-0 text-center">Include Rules</h2>
      </div>
      <div class="card-block">
        {% for rule in include_rules %}
          {% include 'formparts/ruleset-form.html' %}
        {% endfor %}
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-success" type="button" id="btn-add-include">Add Include Rule</button>
      </div>
    </div>
    <!-- End Include Rules -->
    <!-- Start Exclude Rules -->
    <div class="card">
      <div class="card-header">
        <h2 class="card-title h6 mb-0 text-center">Exclude Rules</h2>
      </div>
      <div class="card-block">
        {% for rule in exclude_rules %}
          {% include 'formparts/ruleset-form.html' %}
        {% endfor %}
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-success" type="button" id="btn-add-exclude">Add Exclude Rule</button>
      </div>
    </div>
    <!-- End Exclude Rules -->
    <div class="row form-group">
      <div class="offset-sm-3 col-sm-9">
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-plus" aria-hidden="true"></span> Create</button>
        <a href="{% url 'manager-segments' %}" class="btn btn-default">
          <span class="fas fa-minus" aria-hidden="true"></span> Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
