{% extends 'base.html' %}
{% block page-body %}
<h1 class="h2 heading-underline">Create Setting</h1>
<form class="form-horizontal" action="{% url manager-setting-create %}" method="post">
  <fieldset>
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{error}}
      </div>
    {% endfor %}
    {% for field in form %}
      {% include 'form-control-group.html' %}
    {% endfor %}

    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-plus" aria-hidden="true"></span> Create</button>
        <a href="{% url manager-settings %}" class="btn btn-default">
          <span class="fas fa-minus" aria-hidden="true"></span> Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
