{% extends 'base.html' %}
{% block page-body %}
  <p><big>Are you sure you want to delete {{setting.name}}?</big></p>
  <form action="{% url manager-setting-delete setting.pk %}" method="post">
    <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
    </button>
    <a href="{% url manager-settings %}" class="btn btn-default">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Cancel</a>
  </form>
{% endblock %}
