//
// Email Instance details
//

.send-progress {
  margin: 10px 0 30px;
}


.jumbotron.opens {
  border-radius: 0;
  padding: 10px 30px;

  p {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 1em;
      text-align: center;
    }
  }

  .larger {
    display: block;
    font-size: 35px;
    text-align: center;

    @media (max-width: 480px) {
      font-size: 1.75em;
    }
  }

  .stats-container {
    padding-bottom: 20px;

    .center {
      border-width: 0 1px;
      display: block;
      margin: 0 0 0 -30px;
      padding: 0 15px;

      @media (max-width: 480px) {
        border: 0;
      }
    }

    .help-block {
      padding-top: 10px;
    }
  }
}
