//
// URL Report Data View Styles
//

.report-data-card {
  font-size: .9rem;

  .collapse-icon {
    span:before {
      content: "\f077";
    }
    &.collapsed {
      span:before {
        content: "\f078";
      }
    }
  }
}

