body {
  margin: 15px 0;
}

table tr {
  cursor: pointer;
}

.form-group .alert-danger {
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pagination {
  margin: 0;
}

#id_groups, #id_recipient_groups {
  height: 300px;
}

.form-group.attribute-container {
  margin-bottom: 0;
}

button.attr-delete:nth-of-type(1) {
  color: black;
}
