body {
  margin: 15px 0;
}

table tr {
  cursor: pointer;
}

.form-group .alert-danger {
  padding: 5px 10px;
}

.pagination {
  margin: 0;
}

#id_groups,
#id_recipient_groups {
  height: 300px;
}

.form-group.attribute-container {
  margin-bottom: 0;
}

button.attr-delete:nth-of-type(1) {
  color: black;
}

.add-container,
.attribute .row {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.attribute .row {
  border: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 8px;
}

.attribute .row.alert-danger {
  margin-top: 0;
}

.attribute button,
.add-container button {
  position: absolute;
  right: -39px;
  top: 0px;
}

.add-container button {
  top: -1px;
}

.attribute button,
.add-container button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0;
}

.attribute button span,
.add-container button span {
  padding: 15px 12px;
}

.add-attr-container .row {
  padding-bottom: 11px;
  margin-bottom: 0;
}

.add-attr-container .control-label {
  padding-top: 12px;
}

.add-container {
  border: 1px dashed #ccc;
}
