/* General Styles */
html {background:none;color:#333;}
h1 {color:#333;border-bottom:1px solid #333;font-size:220%;margin-bottom:5px;}
h1 a {text-decoration:none;}
h2 {margin-bottom:5px;}

th {background-color:#CCC;font-weight:bold;padding:5px;color:#555;}
td {padding:5px;}

label {color:#666;}
input[type="text"] {font-size:130%;}
select {font-size:120%;}
textarea {height:5em;}

.or, .or_label {width:80%;margin:auto;}
.or_label {margin-top:10px;text-align:center;font-weight:bold;font-size:120%;text-transform:uppercase;}

.note {color:#666;font-style:italic;}

.errors {margin:0;padding:0;}
.errors li {list-style-type:none;color:#FF0000;display:inline;padding-right:5px;font-weight:bold;}

.fleft {float:left;}
.fright {float:right;}

#messages {padding-left:0;}
#messages li {list-style-type:none;}
/* List Emails */
#email-list #actions{margin:10px 0;}
#email-list #emails {margin:0;padding:0;}
#email-list #emails li {list-style-type:none;padding:0;background-color:#f7f7f7;border:1px solid #ccc;margin-bottom:10px;}
#email-list #emails li a {text-decoration:none;}
#email-list #emails li a:hover {cursor:pointer;}
#email-list #emails li h3 {font-weight:normal;font-size:150%;margin:0;padding:15px 5px;}
#email-list #emails li h3 span {float:right;color:#666;font-size:120%;}

/* Create Email */
#email-create form label {font-size:130%;font-weight:100;}
#email-create form input,
	#email-create form textarea {width:98%;}
#email-create form select {width:100%;}
#email-create form button {font-size:130%;width:100%;}
#email-create form #start_date select {width:100px;}

/* Email Details */
#email-details h2 {font-size:150%;}
#email-details h2 span {font-size:70%;font-weight:normal;float:right;}
#email-details #overall_stats {margin-top:10px;display:block;}