<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Postmaster</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/global.css" />

  </head>
  <body>
    <div class="container">
      <div class="row">
        <header class="col-sm-12 col-lg-8 col-lg-offset-2">
          {% block header %}
          <nav class="navbar navbar-default">
              <div class="container-fluid">

                <!-- Mobile -->
                <div class="navbar-header">
                  {% if user.is_authenticated %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  {% endif %}
                  <a class="navbar-brand" href="{% url manager-home %}">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Postmaster</a>
                </div>

                {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li{% if section == 'emails' %} class="active"{% endif %}>
                        <a href="{% url manager-emails %}">Emails</a>
                      </li>
                      <li{% if section == 'recipients' %} class="active"{% endif %}>
                        <a href="{% url manager-recipients %}">Recipients</a>
                      </li>
                      <li{% if section == 'recipientgroups' %} class="active"{% endif %}>
                        <a href="{% url manager-recipientgroups %}">Recipient Groups</a>
                      </li>
                      <li{% if section == 'settings' %} class="active"{% endif %}>
                        <a href="{% url manager-settings %}">Settings</a>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="{% url logout %}">Logout</a>
                      </li>
                  </ul>
                </div> <!-- /.navbar-collapse -->
                {% endif %}
              </div> <!-- /.container -->
          </nav>
          {% endblock %}
        </header>
        <section class="col-sm-12 col-lg-8 col-lg-offset-2">
          {% block messages-breadcrumbs %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert{% if message.tags %} {{message.tags}}{% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
            </div>
            {% endfor %}
          {% endif %}
          {% endblock %}
          {% block page-body %}{% endblock %}
        </section>
      </div>
    </div>

    {% block javascript-footer %}
      <!-- JavaScript -->
      <script src="{{MEDIA_URL}}/js/jquery-1.11.2.min.js"></script>
      <script src="{{MEDIA_URL}}/js/bootstrap.min.js"></script>
      <script src="{{MEDIA_URL}}/js/global.js"></script>
      <script src="{{MEDIA_URL}}/js/typeahead.js"></script>
    {% endblock %}
  </body>
</html>
