<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Postmaster</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{MEDIA_URL}}css/style.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header class="col-sm-12">
          {% block header %}
          <nav class="navbar navbar-default">
              <div class="container-fluid">

                <!-- Mobile -->
                <div class="navbar-header">
                  {% if user.is_authenticated %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  {% endif %}
                  <a class="navbar-brand" href="{% url manager-home %}">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Postmaster</a>
                </div>

                {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                  <ul class="nav navbar-nav">

                    <!-- Emails -->
                    <li class="dropdown{% if section == 'emails' %} active{% endif %}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Emails <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="{% url manager-emails %}">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> &nbsp;All Emails</a>
                        </li>
                        <li>
                          <a href="{% url manager-email-create %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Add New</a>
                        </li>
                        <li>
                          <a href="{% url manager-email-design %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;Email Designer</a>
                        </li>
                        <li>
                          <a href="{% url manager-email-instant-send %}">
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span> &nbsp;Send Instant Email</a>
                        </li>
                      </ul>
                    </li>

                    <!-- Recipients -->
                    <li class="dropdown{% if section == 'recipients' %} active{% endif %}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Recipients <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="{% url manager-recipients %}">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> &nbsp;All Recipients</a>
                        </li>
                        <li>
                          <a href="{% url manager-recipient-create %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Add New</a>
                        </li>
                        <li>
                          <a href="{% url manager-recipients-csv-import %}">
                            <span class="glyphicon glyphicon-import" aria-hidden="true"></span> &nbsp;Import</a>
                        </li>
                      </ul>
                    </li>

                    <!-- Recipients Groups -->
                    <li class="dropdown{% if section == 'recipientgroups' %} active{% endif %}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Recipient Groups <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="{% url manager-recipientgroups %}">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> &nbsp;All Recipient Groups</a>
                        </li>
                        <li>
                          <a href="{% url manager-recipientgroup-create %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Add New</a>
                        </li>
                      </ul>
                    </li>

                    <!-- Settings -->
                    <li class="dropdown{% if section == 'settings' %} active{% endif %}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Settings <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="{% url manager-settings %}">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> &nbsp;All Settings</a>
                        </li>
                        <li>
                          <a href="{% url manager-setting-create %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Add New</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="{% url logout %}">
                          <span class="glyphicon glyphicon-off"></span> Logout</a>
                      </li>
                  </ul>
                </div> <!-- /.navbar-collapse -->
                {% endif %}
              </div> <!-- /.container -->
          </nav>
          {% endblock %}
        </header>
        <section class="col-sm-12">
          {% block messages-breadcrumbs %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert{% if message.tags %} {{message.tags}}{% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
            </div>
            {% endfor %}
          {% endif %}
          {% endblock %}
          {% block page-body %}{% endblock %}
        </section>
      </div>
    </div>

    {% block javascript-footer %}
      <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{MEDIA_URL}}js/script.min.js"></script>
    {% endblock %}
  </body>
</html>
