<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Postmaster Emailer</title>

		<!-- Styles -->
		<link rel="stylesheet" href="{{MEDIA_URL}}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{MEDIA_URL}}/css/global.css" />

		<!-- JavaScript -->
		<script src="{{MEDIA_URL}}/js/jquery.js"></script>
		<script src="{{MEDIA_URL}}/js/bootstrap.min.js"></script>
		<script src="{{MEDIA_URL}}/js/global.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="span8 offset2">
				{% block header %}
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a class="brand" href="{% url manager-home %}">Postmaster Emailer</a>
							{% if user.is_authenticated %}
							<ul class="nav pull-left">
								<li{% if section == 'emails' %} class="active"{% endif %}>
									<a href="{% url manager-emails %}">Emails</a>
								</li>
								<li{% if section == 'recipients' %} class="active"{% endif %}>
									<a href="{% url manager-recipients %}">Recipients</a>
								</li>
								<li{% if section == 'recipientgroups' %} class="active"{% endif %}>
									<a href="{% url manager-recipientgroups %}">Recipient Groups</a>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li>
									<a href="{% url logout %}">Logout</a>
								</li>
							</ul>
							{% endif %}
						</div>
					</div>
				</div>
				{% endblock %}
			</header>
			<section class="span8 offset2">
				{% if user.is_authenticated %}
				<ul class="breadcrumb">
					<li><a href="{% url manager-home %}">Home</a> <span class="divider">/</span></li>
					{% block breadcrumbs %}{% endblock %}
				</ul>
				{% endif %}
				{% if messages %}
					{% for message in messages %}
					<div class="alert{% if message.tags %} {{message.tags}}{% endif %}">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{message}}
					</div>
					{% endfor %}
				{% endif %}
				{% block page-body %}{% endblock %}
			</section>
		</div>
	</body>
</html>