{% load widget_tweaks %}
{% load filters %}

<div class="form-group row{% if field.errors %} has-danger{% endif %}">
  {% if field|is_checkbox %}
<div class="form-check mb-1 col-md-9 offset-md-3">
    <label class="custom-control custom-checkbox form-check-label">
        {{field|add_class:"custom-control-input"}}
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{field.label}}</span>
      </label>
    </div>
    <div class="col-md-9 offset-md-3">
      <small class="form-text text-muted">{{field.help_text}}</small>
    </div>
  {% else %}
    <label for="{{field.id}}" class="form-control-label col-md-3 text-left text-md-right">{{field.label}} {% if field.field.required %}*{% endif %}</label>
    <div class="col-md-9">
      {% if field.field.required %}
        {% if field|is_file %}
          {{field|attr:"required"}}
        {% else %}
          {{field|add_class:"form-control form-control-danger"|attr:"required"}}
        {% endif %}
      {% elif field|is_file %}
        {{field}}
      {% else %}
        {{field|add_class:"form-control form-control-danger"}}
      {% endif %}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="form-control-feedback">{{error}}</div>
        {% endfor %}
      {% endif %}
      <small class="form-text text-muted">{{field.help_text}}</small>
    </div>
  {% endif %}
</div>
