{% load widget_tweaks %}
{% load filters %}


<div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
  {% if field|is_checkbox %}
    <div class="form-check">
      <label class="form-check-label">
        {{ field|add_class:"form-check-input" }} {{field.label}}
      </label>
    </div>
    <small class="form-text text-muted">{{field.help_text}}</small>
  {% else %}
    <label for="{{field.id}}" class="control-label">{{field.label}} {% if field.field.required %}*{% endif %}</label>
    <div class="controls">

      {% if field.field.required %}
        {% if field|is_file %}
          {{field|attr:"required"}}
        {% else %}
          {{field|add_class:"form-control"|attr:"required"}}
        {% endif %}
      {% elif field|is_file %}
        {{field}}
      {% else %}
        {{field|add_class:"form-control"}}
      {% endif %}

      {% if field.errors %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span id="inputError2Status" class="sr-only">(error)</span>
      {% endif %}

      {% if field.errors %}
        {% for error in field.errors %}
          <p class="alert alert-danger">{{error}}</p>
        {% endfor %}
      {% endif %}
      <small class="form-text text-muted">{{field.help_text}}</small>
    </div>
  {% endif %}
</div>
