{% extends 'base.html' %}
{% block page-body %}
<form action="{% url 'login' %}" method="post">
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    {% for field in form %}
        {% include 'form-control-group.html' %}
    {% endfor %}
    <input type="hidden" name="next" value="{{next}}" />
    {% csrf_token %}

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
</form>
{% endblock %}
