{% extends 'base.html' %}
{% block page-body %}
<div class="row">
  <div class="col-md-5">
    <h1 class="h2 heading-underline">Login</h1>
    <form class="form-horizontal" action="{% url login %}" method="post">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
        {% for field in form %}
            {% include 'form-control-group.html' %}
        {% endfor %}
        <input type="hidden" name="next" value="{{next}}" />
        {% csrf_token %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
