button {
  cursor: pointer;
}

.nav-item .fas {
  min-width: 1.3em;
}

table {
  font-size: .85rem;

  tr {
    cursor: pointer;

    td {
      vertical-align: middle !important;
    }
  }
}

input[type=file] {
  margin-top: 15px;
}

.select2-container--default {
  &.select2-container--focus .select2-selection--multiple {
    border: 1px solid rgba(0, 0, 0, .15);
  }

  &.select2-container--open .select2-selection {
    border-color: rgba(2, 117, 216, .7);
    box-shadow: inset 0 0 0 2px rgba(2, 117, 216, .7);
  }

  &.select2-container--focus.select2-container--open .select2-selection--multiple {
    border: 1px solid rgba(2, 117, 216, .7);
  }

  .select2-selection {
    line-height: 2.25;
    padding: .5rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .select2-selection--multiple {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;

    .select2-selection__choice {
      background-color: #eee;
      border-radius: 0;
      font-size: .75rem;
      font-weight: bold;
      line-height: 1;
      padding: .125rem .5rem;
    }

    .select2-selection__choice__remove {
      font-size: 2rem;
      font-weight: 300;
      margin-right: .5rem;
      vertical-align: middle;
    }
  }
}

.select2-dropdown {
  border-color:  rgba(0, 0, 0, .15);
  border-radius: 0;
}

.select2-results {
  font-size: .85rem;
}

.select2-results__option {
  padding: .75rem;

  &.select2-results__option--highlighted {
    .fa-square {
      color: #fff;
    }
  }

  .fa-square {
    color: #ccc;
  }
}

.select2-container--default .select2-results__option[aria-selected="true"]:not(.select2-results__option--highlighted) {
  background-color: #eee;
  color: #000;
}

.twitter-typeahead {
  display: block !important;
}

.twitter-typeahead {
  display: block !important;
}

.tt-menu {
  border: 1px solid #ccc;
  width: 100%;
}

.tt-suggestion {
  background: rgba(230, 230, 230, .95);
  padding: 8px 10px;
}

.tt-cursor {
   cursor: pointer;
   background: rgba(255, 255, 255, 0.95);
}

.send-progress {
  margin: 10px 0 30px;
}

// Email Designer
#editor-window-outer {
  box-sizing: border-box;
  height: 650px;
  margin: 0;
  max-width: 750px;
  min-height: 320px;
  min-width: 320px;
  overflow: auto;
  padding: 0;
  resize: both;
  width: 320px;
}

#editor-window {
  border: 0 solid transparent;
  // allow room for resize tab
  height: calc(100% - 20px);
  margin: 0;
  padding: 0;
  // prevent double resize tabs in safari
  resize: none;
  width: 100%;
}

.html-textarea {
  font-size: 12px;
  height: 300px;
  width: 100%;
}

#pre-save-changes {
  margin-top: 20px;
}

#load-snapshot-list {
  height: 250px;
  margin-bottom: 20px;
  overflow-y: scroll;
  padding: 10px;
  width: 100%;
}

.snapshot-wrapper {
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 4px;
  text-align: center;
  white-space: nowrap;
  width: calc(33% - 8px);

  label {
    padding: 15px 10px 0;
  }

  .snapshot-list-item-name {
    display: block;
    font-size: 13px;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}

.ajax-loader {
  margin-bottom: 20px;
}


#id_groups,
#id_recipient_groups {
  height: 300px;
}

.jumbotron.opens {
  border-radius: 0;
  padding: 10px 30px;

  p {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 1em;
      text-align: center;
    }
  }

  .larger {
    display: block;
    font-size: 35px;
    text-align: center;

    @media (max-width: 480px) {
      font-size: 1.75em;
    }
  }

  .stats-container {
    padding-bottom: 20px;

    .center {
      border-width: 0 1px;
      display: block;
      margin: 0 0 0 -30px;
      padding: 0 15px;

      @media (max-width: 480px) {
        border: 0;
      }
    }

    .help-block {
      padding-top: 10px;
    }
  }
}

.attr-field-label,
.attr-field {
  width: 45%;
  padding: 0 0 0 15px;

  @media (max-width: 460px) {
    width: 40%;
  }
}

.attr-field-btn {
  width: 10%;
  padding: 0;

  @media (max-width: 460px) {
    width: 15%;
    margin-right: 15px;
  }
}
