body {
  margin: 15px 0;
}

table {
  tr {
    cursor: pointer;

    td {
      vertical-align: middle !important;
    }
  }
}

input[type=file] {
  margin-top: 7px;
}

.form-group .alert-danger {
  padding: 5px 10px;
}

.pagination {
  margin: 0;
}

.twitter-typeahead {
  display: block !important;
}

.tt-dropdown-menu {
  background: rgba(230, 230, 230, .95);
  border-radius: 0 0 4px 4px;
  padding: 8px 4px 4px;
  width: 100%;
}

.external {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url('../img/glyphicons-halflings.png');
  background-position: -119px -72px;
  overflow: hidden;
  text-indent: -9999px;
  margin-left: 5px;
}

// Email Designer
#editor-window-outer {
  background-color: #fafafa;
  border: 1px solid #eee;
  box-sizing: border-box;
  height: 650px;
  margin: 0;
  max-width: 750px;
  min-height: 320px;
  min-width: 320px;
  overflow: auto;
  padding: 0;
  resize: both;
  width: 320px;
}

#editor-window {
  border: 0 solid transparent;
  // allow room for resize tab
  height: calc(100% - 20px);
  margin: 0;
  padding: 0;
  // prevent double resize tabs in safari
  resize: none;
  width: 100%;
}

.html-textarea {
  background: #fafafa;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 12px;
  height: 300px;
  width: 100%;
}

#pre-save-changes {
  margin-top: 20px;
}

#load-snapshot-list {
  border: 1px solid #ccc;
  height: 250px;
  margin-bottom: 20px;
  overflow-y: scroll;
  padding: 10px;
  width: 100%;
}

.snapshot-wrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 4px;
  text-align: center;
  white-space: nowrap;
  width: calc(33% - 8px);

  label {
    padding: 15px 10px 0;
  }

  .snapshot-list-item-name {
    display: block;
    font-size: 13px;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}

.ajax-loader {
  margin-bottom: 20px;
}


#id_groups,
#id_recipient_groups {
  height: 300px;
}

.form-group.attribute-container {
  margin-bottom: 0;
}

button.attr-delete:nth-of-type(1) {
  color: #000;
}

.add-container,
.attribute .row {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.attribute .row {
  border: 1px solid #ccc;
  margin-bottom: 8px;
  padding: 5px 0;

  &.alert-danger {
    margin-top: 0;
  }
}

.attribute button,
.add-container button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0;
  position: absolute;
  right: -39px;
  top: 0;
}

.add-container {
  border: 1px dashed #ccc;

  button {
    top: -1px;
  }
}

.attribute button span,
.add-container button span {
  padding: 15px 12px;
}

.add-attr-container .row {
  margin-bottom: 0;
  padding-bottom: 11px;
}

.add-attr-container .control-label {
  padding-top: 12px;
}
