//
// Custom variables for this project, as well as Athena Framework variable
// overrides.
//
// NOTE: variable overrides for other third-party components/widgets
// (such as datepickers) are included in separate variable files.
//

$athena-font-path: '../webfonts/athena-framework/';
$fa-font-path: '../webfonts/fontawesome/';

$ruleset-panel-side-width: 3rem;
