{% extends 'base.html' %}
{% block footer_scripts %}
	{{block.super}}
	<script type="text/javascript">
		$().ready(function() {
			$('#instances li')
				.each(function(index, element) {
					var content = $(this).find('.content'),
						h4      = $(this).find('h4');

					if(index > 0) content.hide();
					h4.click(function() {
						var span = $(this).find('span');
						
						if(span.html() == '►') {
							span.html('▼');
						} else {
							span.html('►');
						}
						content.toggle();
					})

				});
		})
	</script>
{% endblock %}
{% block content %}
<div id="email-details">
	<h2>{{email.title}}</h2>
	<div>
		<strong>Send Time:</strong> {{email.send_time}} -
		<strong>Recurring:</strong> {{email.get_recurrence_display}} -
		<strong>Started On:</strong> {{email.start_date}}
		<a class="fright" href="{% url mailer-email-update email.id %}">Change Settings</a>
	</div>
	{% for instance in email.instances.all %}
		{% if forloop.first %}
		<ul id="instances">
		{% endif %}
		<li>
			<h4>
				{% if forloop.first %}
				<span>&#9660;</span>
				{% else %}
				<span>&#9658;</span>
				{% endif %}
				{{instance.start}}
			</h4>
			<div class="content">
				<p><strong>Sent:</strong> {{instance.recipient_details.count}}</p>
				<p><strong>Opened:</strong> {% if instance.opens_tracked %}{{instance.opens.count}}{% else %}Not Tracked{% endif %}</p>
				<h5>URLs</h5>
				{% for url in instance.urls.all %}
					{% if forloop.first %}
					<ul class="urls">
					{% endif %}
					<li>
						<p>{{url.name}} ({{url.position}}) - {{url.clicks.count}} clicks</p>
						<ul class="recipients">
						{% for click in url.clicks.all %}
							<li>{{click.recipient}} - {{click.when}}</li>
						{% endfor %}
						</ul>
					</li>
					{% if forloop.last %}
					</ul>
					{% endif %}
				{% empty %}
				<p>Not Tracked</p>
				{% endfor %}
			</div>
		</li>
		{% if forloop.last %}
		</ul>
		{% endif %}
	{% empty %}
	<p>There are no instances of the email.</p>
	{% endfor %}
</div>
{% endblock %}