{% extends 'base.html' %}
{% block content %}
<div id="email-list">
	<div id="actions">
		<a href="{% url mailer-email-create %}" class="button" id="create-email">Create Email</a>
	</div>
	<table id="emails">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Start Date</th>
				<th scope="col">Send Time (24 Hour)</th>
				<th scope="col">Recurrence</th>
				<th scope="col">Recipient Groups</th>
			</tr>
		</thead>
		<tbody>
			{% for email in emails %}
			<tr>
				<td>{{email.title}}</td>
				<td>{{email.start_date}}</td>
				<td>{{email.send_time}}</td>
				<td>{{email.get_recurrence_display}}</td>
				<td>
					<ul class="recipient-groups">
						{% for group in email.recipient_groups.all %}
						<li>{{group.name}}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">There are no emails.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}